name: Test Main Branch

on:
    pull_request:
        branches:
            - main
        types:
            - closed # triggers when PR is closed
jobs:
    run-tests:
        if: github.event.pull_request.merged == true # only if merged, not just closed
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
